
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #555;
        min-width: 360px
    }
    #wrapper  {
      height: 100%;
      width: 100%;
      background: radial-gradient(circle, #ccc, #aaa);
      transition: background-color .5s;
      -webkit-transition: background .5s ease-out;  
      -moz-transition: background .5s ease-out;  
      -o-transition: background .5s ease-out;  
      transition: background .5s ease-out; 
        /*background:   linear-gradient(#ffffff,transparent),
            linear-gradient(0deg,#eeeeff,transparent),
            linear-gradient(180deg,#bbbbbb,transparent);
        
        background-blend-mode: multiply;
        */
    }

    .intro-body {
        padding-top: 30px;
    }
    .intro-body {
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
    }
    .intro-text {
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
    #lamp {
        /*background-image: url('img/appbar.lightbulb.hue.svg');
        background-repeat: no-repeat;
        background-color: red;
        background-blend-mode: luminosity;
        */
        /*screen, overlay, darken, lighten, color-dodge, color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color,  luminosity, reset*/
        height: 47px;
        width: 25px;
        float: left;
        left: -40px;
        position: absolute;
        top: -13px;
    }
    #lamp-path {
        color: #DADADA;
        fill: currentColor;   
    }
    #lamp-color {
        color: #fff;
        fill: currentColor;      
    }
    .logo {
      background-image: url('../img/lightswitch.white.bold.png');
      background-repeat: no-repeat;
      text-indent: -3000px;
      height: 80px;
      margin: 0;
      background-size: 200px;
    }
    .switch {
        padding-top: 10px;
        float: left;
        padding-left: 211px;
    }

    footer {
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 310px;
      font-size: 0.8em;
    }

    .cmn-toggle {
      position: absolute;
      margin-left: -9999px;
      visibility: hidden;
    }
    .cmn-toggle + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
    }
    input.cmn-toggle-round + label {
      padding: 1px;
      width: 40px;
      height: 20px;
      background-color: #fff;
      border-radius: 20px;
    }
    input.cmn-toggle-round + label:before,
    input.cmn-toggle-round + label:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: "";
    }
    input.cmn-toggle-round + label:before {
      right: 2px;
      background-color: #f1f1f1;
      border-radius: 20px;
      transition: background 0.4s;
    }
    input.cmn-toggle-round + label:after {
      width: 20px;
      background-color: #fff;
      border-radius: 100%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      transition: margin 0.4s;
    }
    input.cmn-toggle-round:checked + label:before {
      background-color: #EFEFEF;
      background-color: #8ce196;
    }
    input.cmn-toggle-round:checked + label:after {
      margin-left: 20px;
    }
    input.cmn-toggle-round:disabled + label:before,  
    input.cmn-toggle-round:disabled + label:after   {
      background-color: #ddd;
    }
    input.cmn-toggle-round:disabled + label   {
      background-color: #ccc;
    }