a(href="http://designmodo.com/apple-tv-effect/" target="_blank").btn Read tutorial

.poster(data-offset="5")
  .shine
  .layer-1
  .layer-2(data-offset="-5")
  .layer-3(data-offset="-10")
  .layer-4(data-offset="-10")
  .layer-5(data-offset="-5")