a(href="http://designmodo.com/apple-tv-effect/" target="_blank").btn Read tutorial

.poster(data-offset="5")
  .shine
  .layer-1(data-offset="-2")
  .layer-2
  .layer-3(data-offset="1")
  .layer-4(data-offset="3")
  .layer-5(data-offset="10")