<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ambieye.shine" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shine</name>
    <description>
        Control your lights with Shine for Philips Hue.
    </description>
    <author email="apistarter@gmail.com" href="http://apistarter.com">
        Dmitry Sadakov
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/apple-touch-icon-precomposed.png" />

	<preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashScreen" value="app/www/images/splash.png" />
	<preference name="SplashScreenDelay" value="10000" />
	<splash src="app/www/images/splash.png" />
	<platform name="android">
    	<hook type="before_build" src="hooks/ioscopywww.cmd" />
	    <!-- you can use any density that exists in the Android project -->
	
	    <splash src="app/www/images/splash.png" density="land-hdpi"/>
	    <splash src="app/www/images/splash.png" density="land-ldpi"/>
	    <splash src="app/www/images/splash.png" density="land-mdpi"/>
	    <splash src="app/www/images/splash.png" density="land-xhdpi"/>
app/
	    <splash src="app/www/images/splash.png" density="port-hdpi"/>
	    <splash src="app/www/images/splash.png" density="port-ldpi"/>
	    <splash src="app/www/images/splash.png" density="port-mdpi"/>
	    <splash src="app/www/images/splash.png" density="port-xhdpi"/>
	</platform>

	<platform name="ios">
    	<hook type="before_build" src="hooks/ioscopywww.sh" />
	    <!-- images are determined by width and height. The following are supported -->
	    <splash src="app/www/images/splash.png" width="320" height="480"/>
	    <splash src="app/www/images/splash.png" width="640" height="960"/>
	    <splash src="app/www/images/splash.png" width="768" height="1024"/>
	    <splash src="app/www/images/splash.png" width="1536" height="2048"/>
	    <splash src="app/www/images/splash.png" width="1024" height="768"/>
	    <splash src="app/www/images/splash.png" width="2048" height="1536"/>
	    <splash src="app/www/images/splash.png" width="640" height="1136"/>
	    <splash src="app/www/images/splash.png" width="750" height="1334"/>
	    <splash src="app/www/images/splash.png" width="1242" height="2208"/>
	    <splash src="app/www/images/splash.png" width="2208" height="1242"/>
	</platform>
</widget>
